.front-show{
   margin: 40px 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home-img{
    width: 600px;
    height: 500px;
    border-radius: 20px;
}


.home-detail{
    text-align: start;   
}

.special-title{
    color: blue;
}

.all-reviews{
    font-weight: 700;
    padding: 10px 10px;
    border: 2px solid blue;
    border-radius: 20px;
    margin: 20px 0;
    
}

.all-reviews a{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
}

.all-reviews :hover{
    color: white;
    background-color: blue;
}