.header{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.title{
    color: yellow;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

nav a:hover{
    color: orange;
}